@page
@model HavayarQuiz.Web.Pages.HavayarUsers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-page="Create" data-bs-placement="top" data-bs-toggle="tooltip"
       data-bs-title="Create New User"><i class="bi bi-person-plus"></i> Create New</a>
</p>
@if (Model.HavayarUser.Count > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HavayarUser[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HavayarUser[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HavayarUser[0].BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HavayarUser[0].ProfilePicture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HavayarUser[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HavayarUser[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HavayarUser[0].Roles)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.HavayarUser)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td class="w-auto">
                        <img id="profilePicture" style="width:40px;height:40px; background-size:cover;"  src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))">
                        @*@Html.DisplayFor(modelItem => item.ProfilePicture)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.Roles)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a asp-page="./Edit" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                               data-bs-title="Edit User" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>

                            <a asp-page="./Details" class="btn btn-outline-dark" asp-route-id="@item.Id"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               data-bs-title="User Information"><i class="bi bi-card-checklist"></i></a>
                            <a asp-page="./Delete" class="btn btn-outline-danger" asp-route-id="@item.Id"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               data-bs-title="Delete User"><i class="bi bi-trash3"></i></a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
